.blocflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    article {
        /* From https://css.glass */
        background: rgba(241, 120, 120, 0.32);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.4px);
        -webkit-backdrop-filter: blur(6.4px);
        border: 1px solid rgba(241, 120, 120, 0.64);

        padding: 1em;
        flex: 0 0 400px;
        height: 400px;
        margin: 10px;
        max-width: 700px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    article * {
        text-decoration: none;
        color: black;
    }
}