
.menu-entete-container {

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;  
        list-style-type: none;
        .menu-item{
            flex: 1 0 70px;
            a {
                padding: 3px 5px;
                color: black;
                text-decoration: none;
            }
            a:hover {
                color: lightgray;
            }
        }

    }
}