.site__entete{
    h1{
        text-align: center;
        padding: 2em;
        a {
            text-decoration: none;
            text-transform: uppercase;
    
        }
    }
}
.logo__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-entete-container {
    
    .menu {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;  
        list-style-type: none;
        margin-left: auto;
        .menu-item{
            flex: 1 0 70px;
            padding: 0 2em;
            a {
                width: fit-content;
                font-size: 18px;
                padding: 3px 5px;
                color: black;
                text-decoration: none;
            }
            a:hover {
                color: lightgray;
            }
        }
    }
}
@media screen and (max-width:600px) {
    .site__entete{
        h1{
            text-align: center;
            padding: 2em;
            a {
                text-decoration: none;
                text-transform: uppercase;
        
            }
        }
    }
    
}