.site__entete{
}
.logo__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-entete-container {
    
    .menu {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;  
        list-style-type: none;
        margin-left: auto;
        .menu-item{
            flex: 1 0 50px;
            a {
                padding: 3px 5px;
                color: black;
                text-decoration: none;
            }
            a:hover {
                color: lightgray;
            }
        }
    }
}