.menusearch {
    display: flex;
    padding: 1em;

    .recherche {
        padding-top: 1em;
        article {
            background-color: lightgrey;
            margin: 10px;
            
        }
    }
}